<%= form_with(model: products_image, local: true) do |form| %>
  <% if products_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(products_image.errors.count, "error") %> prohibited this products_image from being saved:</h2>

      <ul>
      <% products_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :products_image_image %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :products_image_product_id %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at, id: :products_image_deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
