<p id="notice"><%= notice %></p>

<h1>Products Images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products_images.each do |products_image| %>
      <tr>
        <td><%= products_image.image %></td>
        <td><%= products_image.product %></td>
        <td><%= products_image.deleted_at %></td>
        <td><%= link_to 'Show', products_image %></td>
        <td><%= link_to 'Edit', edit_products_image_path(products_image) %></td>
        <td><%= link_to 'Destroy', products_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Products Image', new_products_image_path %>
