<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @products_image.image %>
</p>

<p>
  <strong>Product:</strong>
  <%= @products_image.product %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @products_image.deleted_at %>
</p>

<%= link_to 'Edit', edit_products_image_path(@products_image) %> |
<%= link_to 'Back', products_images_path %>
