<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system_config.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @system_config.value %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @system_config.data_type %>
</p>

<%= link_to 'Edit', edit_system_config_path(@system_config) %> |
<%= link_to 'Back', system_configs_path %>
