<% unless notice.nil? %>
<% unless notice['message'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.success('<%= notice['message'] %>').dismissOthers();
</script>
<% end %>
<% unless notice['errors'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.error('<%= notice['errors'] %>').dismissOthers();
</script>
<% end %>
<% end %>
<div class="">
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Profile of <strong><%= @admin.format_fullname %></strong></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a href="#"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="product-image" style="padding-top: 30px;">
              <%= image_tag("#{@admin.avatar}", alt: "#{@admin.first_name}", class: "img-thumbnail") %>
            </div>
          </div>

          <div class="col-md-8 col-sm-8 col-xs-12" style="border:0px solid #e5e5e5;">
            <h2 class="prod_title"><%= @admin.format_fullname %></h2>
            <div class="table-full-width">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td width="30%">Email</td>
                    <td><strong><%= @admin.email %></strong></td>
                  </tr>
                  <tr>
                    <td width="30%">First name</td>
                    <td><strong><%= @admin.first_name  %></strong></td>
                  </tr>
                  <tr>
                    <td width="30%">Middle name</td>
                    <td><strong><%= @admin.middle_name %></strong></td>
                  </tr>
                  <tr>
                    <td width="30%">Last name</td>
                    <td><strong><%= @admin.last_name %></strong></td>
                  </tr>
                  <tr>
                    <td width="30%">Gender</td>
                    <td><strong><%= @admin.gender %></strong></td>
                  </tr>
                  <tr>
                    <td width="30%">Address</td>
                    <td><strong><%= @admin.address %></strong></td>
                  </tr>
                  <tr>
                    <td width="30%">Role</td>
                    <td><strong><%= @admin.role.name.capitalize %></strong></td>
                  </tr>
                  <tr>
                    <td width="30%">Status</td>
                    <% if @admin.lock.zero? %>
                    <td><strong>Available</strong></td>
                    <% else %>
                    <td><strong>Non-available</strong></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
              <% if @admin.lock.zero? %>
              <%= link_to admin_lock_path(@admin), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary pull-right' do%>
                <i class="fa fa-lock"></i>  Lock
              <% end %>
              <% else %>
              <%= link_to admin_lock_path(@admin), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary pull-right' do%>
                <i class="fa fa-unlock"></i>  Unlock
              <% end %>
              <% end %>
              <%= link_to edit_admin_path(@admin), class: 'btn btn-primary pull-right' do%>
                <i class="fa fa-edit"></i> Edit
              <% end %>
              <%= link_to 'Back', admins_path, class: "btn btn-default pull-right" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
