<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @user.middle_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Auth token:</strong>
  <%= @user.auth_token %>
</p>

<p>
  <strong>Confirm send at:</strong>
  <%= @user.confirm_send_at %>
</p>

<p>
  <strong>Confirm token:</strong>
  <%= @user.confirm_token %>
</p>

<p>
  <strong>Confirm at:</strong>
  <%= @user.confirm_at %>
</p>

<p>
  <strong>Reset send at:</strong>
  <%= @user.reset_send_at %>
</p>

<p>
  <strong>Reset token:</strong>
  <%= @user.reset_token %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @user.deleted_at %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
