<p id="notice"><%= notice %></p>

<p>
  <strong>Access token:</strong>
  <%= @api_key.access_token %>
</p>

<p>
  <strong>User:</strong>
  <%= @api_key.user %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @api_key.deleted_at %>
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
