<p id="notice"><%= notice %></p>

<p>
  <strong>Item type:</strong>
  <%= @version.item_type %>
</p>

<p>
  <strong>Item:</strong>
  <%= @version.item %>
</p>

<p>
  <strong>Event:</strong>
  <%= @version.event %>
</p>

<p>
  <strong>Whodunnit:</strong>
  <%= @version.whodunnit %>
</p>

<p>
  <strong>Object:</strong>
  <%= @version.object %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
