<%= form_with(model: role, local: true, id: 'demo-form2' ,class: 'form-horizontal form-label-left',
  :html => { :multipart => true, id:'myForm' }) do |form| %>
  <% if role.errors.any? %>
  <% role.errors.full_messages.each do |message| %>
  <script>
    alertify.set('notifier','position', 'top-right');
    alertify.error('<%= message %>');
  </script>
  <% end %>
  <% end %>
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
    <div class="form-group">
      <%= form.label :name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do%>
      Name <span class="required">*</span>
      <% end %>
      <div class="col-md-8 col-sm-7 col-xs-12">
        <%= form.text_field :name, id: :role_name, class: 'form-control col-md-12 col-xs-12', required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :description, class: 'control-label col-md-3 col-sm-3 col-xs-12' do%>
      Description <span class="required">*</span>
      <% end %>
      <div class="col-md-8 col-sm-7 col-xs-12">
        <%= form.text_area :description, id: :role_price, class: 'form-control col-md-12 col-xs-12', required: true %>
      </div>
    </div>
    <div class="actions">
      <%= form.submit class: "btn btn-primary pull-right" %>
      <%= link_to 'Back', roles_path, class: "btn btn-default pull-right" %>
    </div>
  </div>
<% end %>