<tr>
  <td><input type="checkbox" checked="checked" disabled="disable"></td>
  <td width="30%"><%= list_comment.user.format_fullname %></td>
  <td>
    <%=  %>
    <ul class="list-inline">
      <li>
        <%= image_tag("#{list_comment.user.avatar}", alt: "#{list_comment.user.format_fullname}", class: "avatar") %>
      </li>
    </ul>
  </td>
  <td><%= list_comment.context %></td>
</tr>
<% 
  child_comments = list_comment.child_comments
  for i in 1...child_comments.count
%>
<tr>
  <td><input type="checkbox" disabled="disable"></td>
  <td width="30%"><%= child_comments[i].user.format_fullname %></td>
  <td>
    <%=  %>
    <ul class="list-inline">
      <li>
        <%= image_tag("#{child_comments[i].user.avatar}", alt: "#{child_comments[i].user.format_fullname}", class: "avatar") %>
      </li>
    </ul>
  </td>
  <td><%= child_comments[i].context %></td>
</tr>
<% end %>