<tr>
  <td><%= list_product.name %></td>
  <td><%= list_product.price %></td>
  <td>
    <ul class="list-inline">
      <li>
        <%= image_tag("#{list_product.avatar}", alt: "#{list_product.name}", class: "avatar") %>
      </li>
    </ul>
  </td>
  <td><%= list_product.star.round(1) %></td>
  <td><%= list_product.category.name %></td>
  <td><%= list_product.deleted_at ? 'Stop providing' : 'Available' %></td>
  <td><%= link_to product_path(list_product.id) do %>
    <button class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-search"></span></button>
    <% end %>
  </td>
  <td><%= link_to edit_product_path(list_product) do %>
    <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
    <% end %>
  </td>
</tr>