<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :vote_product_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :vote_user_id %>
  </div>

  <div class="field">
    <%= form.label :star %>
    <%= form.text_field :star, id: :vote_star %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :vote_description %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at, id: :vote_deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
